body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 40px;
}

button {
    padding: 15px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}